<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title> QOZA ON TOP </title>
  <style>
    body {
      background-color: #222;
      color: white;
      font-family: Arial;
      text-align: center;
      padding-top: 100px;
    }
  </style>
</head>
<body>
  <h1> YOU IP !</h1>
  <p>HHHHH I A7<3 ON TOP  GitHub Pages.</p>
</body>
</html>
